body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 550px;
    height: 100%;
    top: 0;
}
.bluebar {
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: #08295B;
  color: white;
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
}
.modal {
  text-align: center;
  padding: 0!important;
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
}
.model-content {
  width: 600px;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}
.h2 {
  color: blue;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  left:0px;
  position: relative;
}
.modal-header {
  background-color: red;
  padding: 10px;
}
.modal-title {
  padding: 10px;
}
.lowinventory {
  background-color: red;
  color: white;
  width: 120px;
  padding: 5px;
}
.sidebar {
    position: fixed;
    left: 200px;
    right: 0px;
    width: 350px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    display: inline-block;
}
.item {
    padding: 10px;
    background-color: #eee;
    width: auto;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.navbar{
  right: 0px;
  padding: 0px;
  display: inline-block;
}
.dropdownMenuButton {
  right: 0px;
  display: inline-block;

}
.sort {
    position: fixed;
    bottom: 0;
    right: 0px
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 10px 20px 15px;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
    /*.item {
        background-color: blue;
    }*/
}

@media screen and (max-width: 479px) {
    /*.item {
        background-color: red;
    }*/
}
